@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    background-color: #0b0c10;
    color: #c5c6c7;
  }
}

.hamburger-line {
  @apply w-[20px] h-[2px] block bg-platinum my-1;
}

.hamburger-active {
  span:nth-child(1) {
    @apply rotate-45 translate-y-[6px];
  }
  span:nth-child(2) {
    @apply opacity-0;
  }
  span:nth-child(3) {
    @apply -rotate-45 -translate-y-[6px];
  }
}
